* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
}

:root {
  --primary: #6581fa;
  --secondary: #f58f23;
  --black: #2c2c2c;
  --font: #474747;
  --font1: #808080;
  --font2: #c2c2c2;
  --font3: #707070;
  --transition1: all 0.3s ease-in;
}

.container {
  max-width: 90%;
  margin: auto;
}

body {
  height: 1000rem;
}
/* ==================================================================
                    Styling Starts here 
================================================================== */

/* ---------------------------------------------------- 
            Styling Navbar 
----------------------------------------------------  */

.page {
  margin-top: 2rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callFreeBox a button {
  display: flex;
  align-items: center;

  box-shadow: 0px 0px 10px 1px var(--font2);
}

.primaryBtn {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--secondary);
  font-size: 1rem;
}

.callFreeBox a button i {
  margin-right: 1rem;
}
.siteName {
  color: var(--font);
  font-size: 1.3rem;
}

.siteName span {
  color: var(--secondary);
  font-weight: bold;
}

.hamBurger {
  color: var(--primary);
  font-size: 1.5rem;
}

.navBottom {
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------ Navbar Media Query ----------------------- */

/* @media (min-width: )
{

} */

/* ------------------ Styling sidebar ----------------------- */

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  background: white;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  padding: 2rem 1rem;
  margin: auto;
  transition: var(--transition1);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarHeader i {
  font-size: 2rem;
  color: var(--font1);
  -webkit-text-stroke: 4px white;
}

.sidebarMenu {
  margin: 6rem 0rem;
}

.sidebarMenu ul li {
  margin: 2rem 0rem;
  color: var(--font);
}

.sidebarFooter p {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.sidebarFooter a button {
  margin: 2rem 0rem;
  padding: 1rem 3.5rem;
  font-size: 0.9rem;
}

/* -------------------------------------------- 
        Styling FAQ section 
--------------------------------------------  */

main {
  margin-top: 2rem;
}

.faqGrids {
  display: flex;
  align-items: center;
}
.faqGridSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faqGrid {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 10px 0.1px var(--font2);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
}

.faqGridImage img {
  width: 4rem;
}

.faqGridText h3 {
  font-size: 1.4rem;
  margin: 1rem 0rem;
}

.faqGridText h3 span {
  color: var(--primary);
}

.faqGridText a {
  color: var(--secondary);
  font-size: 1rem;
}

/* ---------------------------------------------------- 
            Styling About Us 
----------------------------------------------------  */

.container1 {
  padding: 2rem;
  border-radius: 15px;
}

.snowBg {
  background: #fcfcfc;
}
.aboutUs {
  margin-top: 1rem;
}

.aboutSection {
  display: flex;
}

.aboutImage {
  display: none;
}

.aboutText p {
  margin: 1rem 0rem;
  color: var(--font3);
  font-size: 1.1rem;
}

.secondaryBtn {
  background: var(--secondary);
  color: white;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
}

/* ---------------------------------------------------- 
            Styling Who we are section
----------------------------------------------------  */
.intro {
  margin-top: 2rem;
}

.introGridHolder {
  display: flex;
  flex-direction: column;
}

.introGrid {
  margin-top: 2rem;
}
.introGrid:not(:last-child) {
  margin-bottom: 2rem;
}
.introGrid img {
  width: 3rem;
}

.introGrid p {
  color: var(--primary);
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

/* ---------------------------------------------------- 
            Styling Services section
----------------------------------------------------  */

.snow1Bg {
  background: #fafafa;
}

.services {
  margin-top: 1rem;
}

.serviceHeader h1 {
  font-size: 3rem;
}

.serviceHeader p {
  font-size: 0.9rem;
  margin: 1rem 0rem;
  color: var(--font3);
}

.serviceSection {
  display: flex;
  flex-direction: column;
}

.serviceGridHolder {
  display: flex;
  flex-direction: column;
}

.serviceGrid {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 1rem 0rem;
  padding: 2rem 1rem;
  border-radius: 20px;
}

.serviceGridText h2 {
  margin: 1rem 0rem;
  color: var(--black);
}

.serviceGridText p {
  margin: 2rem 0rem;
  color: var(--font3);
}
.serviceGrid img {
  width: 5rem;
}

.serviceFooter {
  margin: 3rem auto;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceFooter h1 {
  font-size: 1.8rem;
  color: var(--black);
}

/* ---------------------------------------------------- 
            Styling testimonial section
----------------------------------------------------  */

.testimonial {
  margin: 1rem 0rem;
}

.testimonialGridHolder {
  display: flex;
  flex-direction: column;
}

.testimonialGrid {
  background: white;
  box-shadow: 0px 0px 10px 1px var(--font2);
  padding: 2rem 1rem;
  margin-top: 1.5rem;
  border-radius: 15px;
}

.testimonialTitle {
  color: var(--primary);
  font-weight: bold;
}

.testimonialText {
  margin: 1rem 1rem 0rem 1rem;
}

.testimonialText p {
  font-weight: bold;
  margin-bottom: 2rem;
}

.testimonialText a {
  color: var(--primary);
}

/* ---------------------------------------------------- 
            Styling FooterForm section
----------------------------------------------------  */

.footerForm {
  margin-top: 2rem;
}

.footerFormSection {
  display: flex;
  flex-direction: column;
}

.ffTitle,
.ffNumber {
  font-size: 2rem;
  font-weight: bold;
}

.ffInstructions {
  margin: 2rem 0rem;
  font-size: 1.1rem;
  color: var(--font);
}

.ffTop a button {
  margin: 2rem 0rem;
}
