* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
}

:root {
  --primary: #5771e1;
  --secondary: #f58f23;
  --black: #2c2c2c;
}
